section.home-contact
	.container
		.row
			.col-12.col-md-6
				.place
					p Watami Japanese Dining
					span Thao dien 
				.address
					p 16 Thao Dien, w.Thao Dien, D2, HCMC
					span Monday - Sunday: 10:30 - 23:00
				.hotline
					p Hotline
					span 02873 050 040
			.col-12.col-md-6
				.place
					p Watami Japanese Dining
					span Thao dien 
				.address
					p 16 Thao Dien, w.Thao Dien, D2, HCMC
					span Monday - Sunday: 10:30 - 23:00
				.hotline
					p Hotline
					span 02873 050 040