section.fluid-section-wrapper.home-drink.home-lp-section
	.fluid-section
		.container-fluid
			.row
				.col.col-12.col-lg-6
					
				.col.col-12.col-lg-6
					.content-bg
						.section-title
							.title Drink
						.zone-description Our drink are formulated with  seasonal fruit and herbs with the lastest fresh quality that both refresh and increase  the nutritional value and purify the body
						.btn-left
							a(href="#").btn.btn-red
								span View more
		.container
			.row
				.col.col-12.col-lg-6
					.image-wrapper
						img(src="./img/banner/3.png", alt="")
				.col.col-12.col-lg-6
					
	.fluid-section.section-order
		.container-fluid
			.row
				.col.col-12.col-lg-6
					
				.col.col-12.col-lg-6
					.wrapper
						.title-qoutes " Bring the best Watami food experiences to the guests "
		.container
			.row
				.col.col-12.col-lg-6
					.content-dark
						.section-title 
							.title Delivery menu
						.zone-description Watami brings you an extnsive delivery menu with special dishes, both convenient and with many pomotions
						.btn-left
							a(href="#").btn.btn-white
								span View more
				.col.col-12.col-lg-6
				