.watami-nav
    .container
        nav.scrollNav
            a(data-href="#section-1") Watami Group
            a(data-href="#section-2") Watami Group
            a(data-href="#section-3") Watami Group
        select.selectScrollNav
            option(value="#section-1") Watami Group
            option(value="#section-2") Watami Group
            option(value="#section-3") Watami Group
.container#section-1
    .aboutus-1.pt-75
        h2.main-title Watami group

        .row
            .col-lg-6.content
                p The Watami Group, which has been involved in the food service industry since its establishment in 1984, started organic farming in 2002 with the desire to provide hospitality to customers with safe ingredients. Currently, we are conducting organic farming, livestock and dairy farming businesses (primary industry) on a scale of about 632 hectares in 12 locations nationwide from Hokkaido to Kyushu.
                br
                p Organic vegetables (primary industry) collected at Watami farm are processed (secondary industry) by cotton handicraft kitchen, and are provided to customers throughout the country through the food service business and home food business (third industry) of the Watami Group.
                br
                p In addition, the Watami Group, which aims to create a sustainable recycling society, is working to reduce environmental impact, and as a renewable energy business, the development, construction and operation management of wind power generation facilities. 
                br
                p This integrated "unique 6th industry model" makes the Watami Group's business grow and further expands the possibilities of new business areas.
                br
                p The Watami Group will continue to gather "thank you" through its business activities.

            .col-lg-6.img
                a(href="./img/about/1.jpg" data-fancybox="about-1")
                    img(data-src='./img/about/1.jpg', alt='').lazyload.blur-up

        .row.images
            .col-sm-6.col-lg-3
                a(href="#")
                    img(data-src='./img/about/2.jpg', alt='').lazyload.blur-up
            .col-sm-6.col-lg-3
                a(href="#")
                    img(data-src='./img/about/3.jpg', alt='').lazyload.blur-up
            .col-sm-6.col-lg-3
                a(href="#")
                    img(data-src='./img/about/4.jpg', alt='').lazyload.blur-up
            .col-sm-6.col-lg-3
                a(href="#")
                    img(data-src='./img/about/5.jpg', alt='').lazyload.blur-up


.container#section-2
    .aboutus-2.pd-75(bg-img="./img/about/bg_1.jpg")
        h2.main-title Sonkim group
        .desc The SonKim Group story begins in the mid-1950’s with the establishment of Dai Thanh evolved as a successful business in former Saigon and other Southern cities of Vietnam. Building on these strong foundations, the third generation of the Nguyen family teamed up SonKim Investment and Development to form Company in 1993. Under the name of SonKim Group, the business expanded into real estate, media and branded retail.

        .row.blocks
            .col-lg-3
            .col-lg-3
                a.block(href="#")
                    img(data-src='./img/about/sonkim_logo_1.png', alt='').lazyload.blur-up
            .col-lg-3
                a.block(href="#")
                    img(data-src='./img/about/sonkim_logo_1.png', alt='').lazyload.blur-up
            .col-lg-3

        .row
            .col-lg-1
            .col-lg-10
                .row.items
                    .col-lg-4
                        .item
                            a(href="#")
                                img(data-src='./img/about/sonkim_logo_1.png', alt='').lazyload.blur-up
                            p In fashion area: Owning trademarks such as VERA, manufacturing and proprietary trading USA JOCKEY trademark with domestic brands such as JOX, WOW, Woweco, J. BUSS, BUSS FIGO, etc…
                    .col-lg-4
                        .item
                            a(href="#")
                                img(data-src='./img/about/sonkim_logo_1.png', alt='').lazyload.blur-up
                            p In fashion area: Owning trademarks such as VERA, manufacturing and proprietary trading USA JOCKEY trademark with domestic brands such as JOX, WOW, Woweco, J. BUSS, BUSS FIGO, etc…
                    .col-lg-4
                        .item
                            a(href="#")
                                img(data-src='./img/about/sonkim_logo_1.png', alt='').lazyload.blur-up
                            p In fashion area: Owning trademarks such as VERA, manufacturing and proprietary trading USA JOCKEY trademark with domestic brands such as JOX, WOW, Woweco, J. BUSS, BUSS FIGO, etc…
                    .col-lg-4
                        .item
                            a(href="#")
                                img(data-src='./img/about/sonkim_logo_1.png', alt='').lazyload.blur-up
                            p In fashion area: Owning trademarks such as VERA, manufacturing and proprietary trading USA JOCKEY trademark with domestic brands such as JOX, WOW, Woweco, J. BUSS, BUSS FIGO, etc…
                    .col-lg-4
                        .item
                            a(href="#")
                                img(data-src='./img/about/sonkim_logo_1.png', alt='').lazyload.blur-up
                            p In fashion area: Owning trademarks such as VERA, manufacturing and proprietary trading USA JOCKEY trademark with domestic brands such as JOX, WOW, Woweco, J. BUSS, BUSS FIGO, etc…

.container#section-3
    .aboutus-3.pd-75
        h2.main-title Watami vietnam
        .desc As the result of the corporation between SonKim Retail and Watami, WATAMI Vietnam Co. Ltd. participate in F&amp;B industry and aims to provide excellent and ultimate living experience to customers, as well as to bring more Japanese cuisine experience to Vietnam market.