section.restaurant-2
	.container
		.content.pd-75.lazyload(data-bg="./img/restaurant/bg_2.jpg")
			h2.main-title.white Our Service
			.row
				.col-lg-10.col-xl-8
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.imgbox
									img.swiper-lazy(src="./img/restaurant/2.jpg")
									.swiper-lazy-preloader
									a(href="https://www.youtube.com/watch?v=WNeLUngb-Xg&" data-fancybox="service_1")
										img(src="./img/video_button.png", alt="")
								.title
									h3 KYO WATAMI GRILL & SUSHI
							.swiper-slide
								.imgbox
									img.swiper-lazy(src="./img/restaurant/2.jpg")
									.swiper-lazy-preloader
									a(href="https://www.youtube.com/watch?v=WNeLUngb-Xg&" data-fancybox="service_2")
										img(src="./img/video_button.png", alt="")
								.title
									h3 KYO WATAMI GRILL & SUSHI
							.swiper-slide
								.imgbox
									img.swiper-lazy(src="./img/restaurant/2.jpg")
									.swiper-lazy-preloader
									a(href="https://www.youtube.com/watch?v=WNeLUngb-Xg&" data-fancybox="service_3")
										img(src="./img/video_button.png", alt="")
								.title
									h3 KYO WATAMI GRILL & SUSHI
						.swiper-pagination