section.restaurant-3.pd-75
	.container
		h2.main-title.center Our Menu
		.row
			.col-lg-4.col-md-6
				.menu-item
					.imgbox
						img.lazyload(data-src="./img/restaurant/3.jpg")
					.title
						h4 
							a(href="#") Grand Menu
			.col-lg-4.col-md-6
				.menu-item
					.imgbox
						img.lazyload(data-src="./img/restaurant/4.jpg")
					.title
						h4 
							a(href="#") Drink
			.col-lg-4.col-md-6
				.menu-item
					.imgbox
						img.lazyload(data-src="./img/restaurant/5.jpg")
					.title
						h4 
							a(href="#") Lunch