section.fluid-section-wrapper.home-menu.home-lp-section
	.fluid-section.blude-fluid-section
		.container-fluid
			.row
				.col.col-12.col-lg-6
				.col.col-12.col-lg-6
					.image-wrapper
						img(src="./img/banner/2.png", alt="")
		.container
			.row
				.col.col-12.col-lg-6
					.content
						.section-title 
							.title Grand Menu
						.zone-description Combined with warm service amd affordable rpiceing, we offer a good verity of many dishes in grand menu for variety options
						.btn-left
							a(href="#").btn.btn-black
								span About us
				.col.col-12.col-lg-6
					