extends _layout.pug

block var
	- var title = 'About us'
	- var bodyClass = 'aboutus-page'

block main
	// Includes components here
	include ../components/_global/breadcrumb
	include ../components/banner/index
	include ../components/aboutus/index