extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	// Includes components here
	include ../components/home/h-1
	include ../components/home/h-2
	include ../components/home/h-3
	include ../components/home/h-4
	include ../components/home/h-5
	include ../components/home/h-6
	include ../components/home/h-7
	include ../components/home/h-8