extends _layout.pug

block var
	- var title = 'Locations'
	- var bodyClass = 'location-page'

block main
	// Includes components here
	include ../components/_global/breadcrumb
	include ../components/banner/index
	include ../components/restaurant/r-1