.home-1, .home-1.ModuleContent
	.imgbox
		position: relative
		@media (max-width: 767.9px)
			margin: 0 -15px
		>img
			opacity: 0
			visibility: hidden
			width: 100%
	a
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		@media (max-width: 1024px)
			img
				max-width: 50px
