section.home-1
	.container
		.imgbox.lazyload(data-bg="./img/home/11.jpg")
			img.lazyload(data-src="./img/home/11.jpg", alt="")
			a(href="https://www.youtube.com/watch?v=d2hRTLdvdnk" data-fancybox)
				img(src="./img/video_button.png", alt="")