section.home-2.pt-75
	.container
		h2.main-title.black About Us
		.imgbox.lazyload(data-bg="./img/home/bg_1.jpg")
			.content
				h3 Watami Vietnam aims to bring more Japanese cuisine experience to Vietnam market
				a.btn-viewmore(href="#")
					span View more
					span.fas.fa-long-arrow-alt-right