section.home-3.pt-75.restaurants
	.container
		.content.pd-75.lazyload(data-bg="./img/home/bg_2.jpg")
			h2.main-title.white Our Restaurant
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/1.jpg", alt="")
							.swiper-lazy-preloader
							.title
								h3 KYO WATAMI GRILL & SUSHI
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/2.jpg", alt="")
							.swiper-lazy-preloader
							.title
								h3 KYO WATAMI GRILL & SUSHI
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/3.jpg", alt="")
							.swiper-lazy-preloader
							.title
								h3 KYO WATAMI GRILL & SUSHI
				.swiper-pagination