section.home-1.pt-75
	.container
		h2.main-title.black Our Service
		.imgbox.lazyload(data-bg="./img/home/4.jpg")
			img.lazyload(data-src="./img/home/4.jpg", alt="")
			a(href="https://www.youtube.com/watch?v=d2hRTLdvdnk" data-fancybox)
				img(src="./img/video_button.png", alt="")