section.home-5.pt-75
	.container
		.content.pd-75.lazyload(data-bg="./img/home/bg_3.jpg")
			h2.main-title.white Our menu
			.imgbox
				a(href="#")
					img.lazyload(data-src="./img/home/5.jpg", alt="")