section.home-6.pt-75
	.container
		h2.main-title.black Our Location
		.map
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3068776229766!2d106.69476161526028!3d10.787791761932557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351e2b6369%3A0xb70ec2dc85a5eb73!2zMTU2IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIFRo4bunLCDEkGEgS2FvLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1557788989968!5m2!1svi!2s" frameborder="0" style="border:0" allowfullscreen)