section.home-7.home-3.pt-75.promotions
	.container
		.content.pd-75.lazyload(data-bg="./img/home/bg_4.jpg")
			h2.main-title.white Promotions
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/6.jpg", alt="")
							.swiper-lazy-preloader
							.title
								h3 20% off for food during Soft Opening in June
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/7.jpg", alt="")
							.swiper-lazy-preloader
							.title
								h3 20% off for food during Soft Opening in June
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/6.jpg", alt="")
							.swiper-lazy-preloader
							.title
								h3 20% off for food during Soft Opening in June
				.swiper-pagination