section.home-8.home-3.news-event
	.container
		.content.pd-75
			h2.main-title.black News - Event
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/8.jpg", alt="")
							.swiper-lazy-preloader
							.title
								time 03/05/2019
								h3 20% off for food during Soft Opening in June
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/9.jpg", alt="")
							.swiper-lazy-preloader
							.title
								time 03/05/2019
								h3 20% off for food during Soft Opening in June
					.swiper-slide
						.imgbox
							a(href="#")
								img.swiper-lazy(data-src="./img/home/10.jpg", alt="")
							.swiper-lazy-preloader
							.title
								time 03/05/2019
								h3 20% off for food during Soft Opening in June
				.swiper-pagination