header
	.container
		.row.no-gutters
			.logo-wrapper
				a(href="/")
					img.lazyload(data-src="http://www.watami.vn/Data/Sites/1/media/img/watami_logo.png", alt="")
				a(href="#")
					img.lazyload(data-src="./img/sonkim_logo.png", alt="")
			.header-nav-wrapper
				.top
					.site-select
						select
							option Watami Group
							option Sonkim Group
							option Watami Vietnam
					.language-wrapper
						nav
							a(href="#")
								img(src="./img/vi_vn.png", alt="")
							a(href="#")
								img(src="./img/en_us.png", alt="")
					.search
						.search-toggle
							span.mdi.mdi-magnify
						.searchbox
							input.searchinput
							button.searchbutton
								span.mdi.mdi-magnify
				.bottom
					.main-nav
						ul
							li
								a(href="/") HOME
							li
								a(href="/aboutus.html") ABOUT US
							li
								a(href="restaurant.html") OUR RESTAURANTS
								nav.dropdown
									a(href="#") Link 1
									a(href="#") Link 1
									a(href="#") Link 1
							li
								a(href="location.html") LOCATIONS
								nav.dropdown
									a(href="#") Link 1
									a(href="#") Link 1
									a(href="#") Link 1
							li
								a.active(href="promotion.html") PROMOTIONS
							li
								a(href="news.html") NEWS - EVENTS
							li
								a(href="/reservation.html") RESERVATION
							li
								a(href="/career.html") CAREER
							li
								a(href="/contact.html") CONTACT
			.menu-toggle
				span.mdi.mdi-menu
.overlay