.container
    .career-1(bg-img="./img/career/bg.jpg" bg-img-mobile="./img/career/bg.jpg").pd-75
        .row
            .col-lg-6.content
                h2 Join kyo watami grill &amp; sushi
                p At KYO WATAMI Grill Sushi, we invest in your future to bring out the best in you. With more than 1,000 happy employees aged 17 to 70 worldwide, we offer an excellent rewards package that includes highly competitive remuneration, training opportunities and work-life balance activities.
                br
                p Best of all, we give everyone the chance to bring your unique background, experiences, and fresh ideas to the table, regardless of race, national origin, gender, age, religion, disability, sexual orientation, veteran status, or maritial status.
                br
                p We believe in 'You work with us but not for us'. That is why at KYO WATAMI Grill Sushi, our staff are more than just employees. We are one big family and everyone is a family member.
                br
                p 
                    |For career opportunities in corporate or operations, contact us at 
                    a(href="mailto:info@watami.vn") info@watami.vn 
                    |. Join our KYO WATAMI Grill Sushi family today!
                br
                p 
                    |We are looking for dynamic individuals to join us. Have a chat with us anytime! Contact us at address 
                    strong Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.
            .col-lg-6.img
                img(data-src='./img/career/1.jpg', alt='').lazyload.blur-up
                
    .career-2.pd-75
        h2.main-title Career oppoturnities

        .watami-table-v1
            table
                thead
                    tr
                        th No.
                        th Position
                        th Amount
                        th Location
                        th Expiry Date

                tbody
                    tr(data-href="/career-detail.html")
                        td 01
                        td Kitchen Manager
                        td 01
                        td HCMC
                        td 30/05/2019
                    tr(data-href="/career-detail.html")
                        td 01
                        td Kitchen Manager
                        td 01
                        td HCMC
                        td 30/05/2019
                    tr(data-href="/career-detail.html")
                        td 01
                        td Kitchen Manager
                        td 01
                        td HCMC
                        td 30/05/2019
                    tr(data-href="/career-detail.html")
                        td 01
                        td Kitchen Manager
                        td 01
                        td HCMC
                        td 30/05/2019
                    tr(data-href="/career-detail.html")
                        td 01
                        td Kitchen Manager
                        td 01
                        td HCMC
                        td 30/05/2019

        .row.watami-table-v1-mobile
            .col-sm-6
                a(href="/career-detail.html").item
                    p
                        em.mdi.mdi-account
                        span.title Kitchen Manager
                    p
                        em.mdi.mdi-chevron-double-right
                        span Amount: 01
                    p
                        em.mdi.mdi-map-marker
                        span Location: HCMC
                    p
                        em.mdi.mdi-calendar-check
                        span Expiry date: 30/05/2019
            .col-sm-6
                a(href="/career-detail.html").item
                    p
                        em.mdi.mdi-account
                        span.title Kitchen Manager
                    p
                        em.mdi.mdi-chevron-double-right
                        span Amount: 01
                    p
                        em.mdi.mdi-map-marker
                        span Location: HCMC
                    p
                        em.mdi.mdi-calendar-check
                        span Expiry date: 30/05/2019
            .col-sm-6
                a(href="/career-detail.html").item
                    p
                        em.mdi.mdi-account
                        span.title Kitchen Manager
                    p
                        em.mdi.mdi-chevron-double-right
                        span Amount: 01
                    p
                        em.mdi.mdi-map-marker
                        span Location: HCMC
                    p
                        em.mdi.mdi-calendar-check
                        span Expiry date: 30/05/2019
            .col-sm-6
                a(href="/career-detail.html").item
                    p
                        em.mdi.mdi-account
                        span.title Kitchen Manager
                    p
                        em.mdi.mdi-chevron-double-right
                        span Amount: 01
                    p
                        em.mdi.mdi-map-marker
                        span Location: HCMC
                    p
                        em.mdi.mdi-calendar-check
                        span Expiry date: 30/05/2019
            .col-sm-6
                a(href="/career-detail.html").item
                    p
                        em.mdi.mdi-account
                        span.title Kitchen Manager
                    p
                        em.mdi.mdi-chevron-double-right
                        span Amount: 01
                    p
                        em.mdi.mdi-map-marker
                        span Location: HCMC
                    p
                        em.mdi.mdi-calendar-check
                        span Expiry date: 30/05/2019
