section.fluid-section-wrapper.home-service.home-lp-section
	.fluid-section.blude-fluid-section
		.container-fluid
			.row
				.col.col-12.col-lg-6
				.col.col-12.col-lg-6
					.wrapper
						a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
							img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')
						.center-caption
							img(src="./img/play.png", alt="")
		.container
			.row
				.col.col-12.col-lg-6
					.content
						.section-title.text-center
							.title Our service
						.zone-description Happiness is found at Watami. It is served by our staff, made with passionate hands of chef, guaranteed in taste, and it is cooked into our food. With our food, it is shared and spreads across hearts.
						.btn-center
							a(href="#").btn.btn-red
								span View more
				.col.col-12.col-lg-6
				