footer
	.top-footer
		.container
			.row
				.col-xl-3.col-lg-4
					.address
						h4 KYO WATAMI GRILL & SUSHI
						p
							span.mdi.mdi-map-marker
							span Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.
						p
							span.mdi.mdi-email
							span info@watami.vn
				.col-lg
					.row
						.col-md
							.footer-nav
								h4 About us
								nav
									a(href="#") Watami Group
									a(href="#") SonKim Group
									a(href="#") Watami Vietnam
						.col-md
							.footer-nav
								h4 our restaurants
								nav
									a(href="#") Kyo Watami
						.col-md
							.footer-nav
								h4 Our Promotions
								nav
									a(href="#") Kyo Watami
				.col-xl-3
					.receive-email
						.ModuleHtml
							.ModuleContent
								h4 Newsletter
								p Subscribe to receive promotion from KYO WATAMI
						.Module.Module-142
							#ctl00_mdl142_ctl00_subscribe1_pnlSubscribeBody.subscribe
								#ctl00_mdl142_ctl00_subscribe1_UpdatePanel1
									#ctl00_mdl142_ctl00_subscribe1_pnlSubscribe.subscribefrm
										input#ctl00_mdl142_ctl00_subscribe1_txtEmail.subscribeemail(onfocus="javascript:watermarkEnter(this, '');", onblur="javascript:watermarkLeave(this, '');", name='ctl00$mdl142$ctl00$subscribe1$txtEmail', type='text', title='Nhập địa chỉ email hợp lệ.', placeholder='Địa chỉ email')
										button#ctl00_mdl142_ctl00_subscribe1_btnSubscribe.subscribebutton(onclick="__doPostBack('ctl00$mdl142$ctl00$subscribe1$btnSubscribe','')", validationgroup='subscribe')
											| Đăng ký
										span#ctl00_mdl142_ctl00_subscribe1_reqEmail.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập email.
										span#ctl00_mdl142_ctl00_subscribe1_regexEmail.fa.fa-exclamation-triangle(style='display:none;') Email không hợp lệ.
	.bottom-footer
		.container
			.row
				.logo-list
					nav
						a(href="#")
							img(src="./img/watami_logo.png", alt="")
						a(href="#")
							img(src="./img/footer_logo_1.png", alt="")
						a(href="#")
							img(src="./img/sonkim_logo.png", alt="")
						a(href="#")
							img(src="./img/about/sonkim_logo_1.png", alt="")
						a(href="#")
							img(src="./img/footer_logo_2.png", alt="")
						a(href="#")
							img(src="./img/footer_logo_3.png", alt="")
				.copyright
					.social
						nav
							a.fab.fa-facebook-f(href="#")
							a.fab.fa-instagram(href="#")
							a.fab.fa-youtube(href="#")
					.copyright-text
						p Copyright © 2019 SonKim Retail. Designed by Cánh Cam.