section.promotion-1.pd-75
	.container
		h2.main-title.black Promotions
		.promotion-list.row
			.promotion-item-col
				.promotion-item
					.imgbox.lazyload(data-bg="./img/banner/b_1.jpg")
						a(href="#")
							img.lazyload(data-src="./img/promotion/1.jpg", alt="")
						.createDate
							span.date 24
							hr
							span.month Jun
					.info
						h3
							a(href="#") 20% off for food during Soft Opening in June
						p.sub-title
							span.mdi.mdi-timer
							span 11:00 AM -  02:00 PM / 05:00 PM -  11:00 PM
						p.brief-content 
							span.mdi.mdi-map-marker
							span Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.
			.promotion-item-col
				.promotion-item
					.imgbox.lazyload(data-bg="./img/promotion/2.jpg")
						a(href="#")
							img.lazyload(data-src="./img/promotion/2.jpg", alt="")
					.info
						h3
							a(href="#") 20% off for food during Soft Opening in June
						p.sub-title
							span.mdi.mdi-timer
							span 11:00 AM -  02:00 PM / 05:00 PM -  11:00 PM
						p.brief-content 
							span.mdi.mdi-map-marker
							span Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.
			.promotion-item-col
				.promotion-item
					.imgbox.lazyload(data-bg="./img/promotion/1.jpg")
						a(href="#")
							img.lazyload(data-src="./img/promotion/1.jpg", alt="")
					.info
						h3
							a(href="#") 20% off for food durin
						p.sub-title
							span.mdi.mdi-timer
							span 11:00 AM -  02:00 PM / 05:00 PM -  11:00 PM
						p.brief-content 
							span.mdi.mdi-map-marker
							span Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.
			.promotion-item-col
				.promotion-item
					.imgbox.lazyload(data-bg="./img/promotion/2.jpg")
						a(href="#")
							img.lazyload(data-src="./img/promotion/2.jpg", alt="")
					.info
						h3
							a(href="#") 20% off for food during Soft Opening in June
						p.sub-title
							span.mdi.mdi-timer
							span 11:00 AM -  02:00 PM / 05:00 PM -  11:00 PM
						p.brief-content 
							span.mdi.mdi-map-marker
							span Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.
			.promotion-item-col
				.promotion-item
					.imgbox.lazyload(data-bg="./img/promotion/1.jpg")
						a(href="#")
							img.lazyload(data-src="./img/promotion/1.jpg", alt="")
					.info
						h3
							a(href="#") 20% off for food during Soft Opening in June
						p.sub-title
							span.mdi.mdi-timer
							span 11:00 AM -  02:00 PM / 05:00 PM -  11:00 PM
						p.brief-content 
							span.mdi.mdi-map-marker
							span Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.
			.promotion-item-col
				.promotion-item
					.imgbox.lazyload(data-bg="./img/promotion/2.jpg")
						a(href="#")
							img.lazyload(data-src="./img/promotion/2.jpg", alt="")
					.info
						h3
							a(href="#") 20% off for food during Soft Opening in June
						p.sub-title
							span.mdi.mdi-timer
							span 11:00 AM -  02:00 PM / 05:00 PM -  11:00 PM
						p.brief-content 
							span.mdi.mdi-map-marker
							span Serenity Sky Villas, 259 Dien Bien Phu, W7, D.3, HCMC.