section.fluid-section-wrapper.home-gallery
	.section-title.text-center
		.title Gallery
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.container
					.wrapper
						a(href="#")
							img(src="./img/banner/3.png", alt="")
			.swiper-slide
				.container
					.wrapper
						a(href="#")
							img(src="./img/banner/3.png", alt="")
			.swiper-slide
				.container
					.wrapper
						a(href="#")
							img(src="./img/banner/3.png", alt="")
			.swiper-slide
				.container
					.wrapper
						a(href="#")
							img(src="./img/banner/3.png", alt="")
			.swiper-slide
				.container
					.wrapper
						a(href="#")
							img(src="./img/banner/3.png", alt="")
			.swiper-slide
				.container
					.wrapper
						a(href="#")
							img(src="./img/banner/3.png", alt="")
	.nav-wrapper
		.swiper-prev
			.icon-prev.icon-nav
		.number-slide#numberSlides
		.swiper-next
			.icon-next.icon-nav

