section.news-event-1.pd-75
	.container
		h2.main-title.black News - Events
		.news-list.clearfix
			.news-item-col
				.news-item
					.imgbox.lazyload(data-bg="./img/news/1.jpg")
						a(href="news-detail.html")
							img(src="./img/news/1.jpg", alt="")
					.info
						time 15/06/2018
						h3 
							a(href="news-detail.html") Grand Opening of KYO WATAMI Grill & Sushi at Serenity Sky Villas - End of June 
						a.btn-viewmore-news(href="news-detail.html")
							span View more
							span.fas.fa-long-arrow-alt-right
			.news-item-col
				.news-item
					.imgbox.lazyload(data-bg="./img/news/1.jpg")
						a(href="news-detail.html")
							img(src="./img/news/1.jpg", alt="")
					.info
						time 15/06/2018
						h3 
							a(href="news-detail.html") Grand Opening of KYO WATAMI Grill & Sushi at Serenity Sky Villas - End of June 
						a.btn-viewmore-news(href="news-detail.html")
							span View more
							span.fas.fa-long-arrow-alt-right
			.news-item-col
				.news-item
					.imgbox.lazyload(data-bg="./img/news/1.jpg")
						a(href="news-detail.html")
							img(src="./img/news/1.jpg", alt="")
					.info
						time 15/06/2018
						h3 
							a(href="news-detail.html") Grand Opening of KYO WATAMI Grill & Sushi at Serenity Sky Villas - End of June 
						a.btn-viewmore-news(href="news-detail.html")
							span View more
							span.fas.fa-long-arrow-alt-right
			.news-item-col
				.news-item
					.imgbox.lazyload(data-bg="./img/news/1.jpg")
						a(href="news-detail.html")
							img(src="./img/news/1.jpg", alt="")
					.info
						time 15/06/2018
						h3 
							a(href="news-detail.html") Grand Opening of KYO WATAMI Grill & Sushi at Serenity Sky Villas - End of June 
						a.btn-viewmore-news(href="news-detail.html")
							span View more
							span.fas.fa-long-arrow-alt-right
			.news-item-col
				.news-item
					.imgbox.lazyload(data-bg="./img/news/1.jpg")
						a(href="news-detail.html")
							img(src="./img/news/1.jpg", alt="")
					.info
						time 15/06/2018
						h3 
							a(href="news-detail.html") Grand Opening of KYO WATAMI Grill & Sushi at Serenity Sky Villas - End of June 
						a.btn-viewmore-news(href="news-detail.html")
							span View more
							span.fas.fa-long-arrow-alt-right
			.news-item-col
				.news-item
					.imgbox.lazyload(data-bg="./img/news/1.jpg")
						a(href="news-detail.html")
							img(src="./img/news/1.jpg", alt="")
					.info
						time 15/06/2018
						h3 
							a(href="news-detail.html") Grand Opening of KYO WATAMI Grill & Sushi at Serenity Sky Villas - End of June 
						a.btn-viewmore-news(href="news-detail.html")
							span View more
							span.fas.fa-long-arrow-alt-right